@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
.logo {
  font-size: 2em;
  font-weight: 300;
  color: #fff;
  font-family: Comforter;
}
img {
  max-height: 300px;
  border: 1px solid black;
  margin-bottom: 10px;
}
